@import url("https://fonts.googleapis.com/css?family=Faustina|Special+Elite");
body {
	font-family: verdana;
    background: linear-gradient(-45deg, #f2eeec, #9cec9c, #e3ab74, #88e988);
    background-size: 400% 400%;
    animation: animatedBackground 10s ease infinite;
}
@keyframes animatedBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.poem {
	margin: 20px 35%;
}
figure {
	position: relative;
	background: url("../images/Aug_16.jpg"),no-repeat;
	width: 320px;
    background-size: cover;
	height: 400px;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 auto;
	background-color: rgba(230, 230, 230, 0.7);
	color: #666;
	transition: all 0.35s ease;
	overflow: hidden;
	backface-visibility: hidden;
	box-shadow: 3px 2px 24px 0px rgba(190, 158, 167, 1);
    border-radius: 15px;
}
figure p {
	width: 320px;
	background-color: rgba(255, 255, 255, 0.9);

	border-bottom: 5px solid rgba(190, 158, 167, 0.4);
	font-family: "Special Elite", cursive;
	padding: 20px;
	bottom: 5px;
	position: absolute;
	transition: all 0.45s ease;
}

/***/

figure figcaption {
	transform: translateX(-120%);
	background-color: rgba(255, 255, 255, 0.9);
	width: 250px;
	height: 330px;
	padding: 20px;
	position: absolute;
	top: 0px;
	bottom: 15px;
	left: 0px;
	right: 15px;
	font-family: "Faustina", serif;
	font-size: 15px;
	border: 15px solid rgba(190, 158, 167, 0.4);
	transition: all 1.5s ease;
}

figure:hover figcaption {
	transition: all 1s ease;
	transform: translate(0, 0);
}
figure:hover p {
	transform: translateX(-120%);
}

figure .author {
	text-align: right;
	margin-top: 25px;
}

h2 {
	text-align: center;
	background: rgba(215, 117, 145, 0.5);
	border-bottom: 5px solid rgba(190, 158, 167, 0.9);
	color: #333;
	font-size: 23px;
	font-family: "Special Elite", cursive;
	padding: 20px;
	width: 75vwpx;
	margin: auto;
	margin-top: 40px;
	transition: all ease 1s;
}
h2:hover {
	background: rgba(190, 158, 167, 0.7);
	border-bottom: 5px solid rgba(190, 158, 167, 0.8);
}

transition {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.footer {
  width:100%;
  height:100%;
  padding:20px 0 25px;
  overflow:hidden;
  background:url(http://elramsisy.gq/img/bg.png);
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  text-align: center;
}

.footer .container .icons {
  margin:20px 0 0;
  color:rgba(123,119,201,0.84)
}
.footer .container .icons a i{
  margin-right:15px;
  color:#7b77c9;
  font-size:32px;
  padding:8px
}
.footer .container .icons a i:hover{
  font-size:40px;
  padding:0
}
.footer .container .copy{
  margin:25px 0 0;
  color:#7b77c9
}
.footer .container .copy p i {
  color:#F44336;
  animation:heart 4s infinite
}
@keyframes heart{
10%{font-size:20px}
20%{font-size:16px}
30%{font-size:20px}
40%{font-size:16px}
50%{font-size:20px}
60%{font-size:16px}
70%{font-size:20px}
80%{font-size:16px}
90%{font-size:20px}
100%{font-size:20px}
}

/* Site */
.cr a {
  display:block;
  text-decoration:none;
  width: 20%;
  margin: 20px 40% 0 40%;
  font-size: 18px;
  border-radius: 5px;
  text-align:center;
  transition: all 0.6s ease-in-out;
  color:#7b77c9;
}

.cr a:hover {
  font-size: 20px;
}
@keyframes headingAnimation {
    0% {
        color: #333;
        font-size: 24px;
    }
    50% {
        color: #ff6600;
        font-size: 28px;
        text-shadow: 2px 3px whitesmoke;
    }
    100% {
        color: #333;
        font-size: 30px;
        text-shadow: 3px 2px whitesmoke;
    
    }
}

.heading {
    text-align: center;
    font-size: 28px;
    font-family: cursive;
    animation: headingAnimation 4s infinite; /* Apply the animation */
}
